body{
    margin:0;
}
header{
    background-image:url("foto/background-image2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    padding-left: 10%;
    padding-right: 10%;
    display:flex;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color:white;
}
.logo .alexis{
    flex-grow: 0;
}
.menu p a{
    text-decoration:none;
    color:black;
    padding-left: 2%;
    font-size: 20px;
    float:right;
}
.menu{
    flex-grow:3;
}
.head{
    margin:8% auto;
    text-align:center;
}
.head h1{
    font-size:60px;
    color:white;
    font-weight: normal;
}
.head a{
    text-decoration:none;
    color:white;
}
.head a p{
    font-size:18px;
    background-color:rgb(252,95,69);
    width:20%;
    padding-bottom: 1%;
    padding-top:1%;
    margin-bottom: 5%;
    border-radius:20px;
}
table p{
    font-size:13px;
}
table{
    margin:0 auto;
    margin-top:3%;
    border-spacing:15px ;
}
table .textTable td{
    width:200px;
}
.about-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.aboutUs{
    height:700px;
}
.about{
    margin-left: -50px;
    max-width: 500px;
    background-color: white;
    border: 1px solid #000;
}
.aboutUs img{
    height:600px;
    z-index: -1;
}
 .opacityElem{
    font-size: 250px;
    z-index: 1;
    opacity:0.1;
}
 .table{
     float:right;
 }
 .text h1{
     float:right;
 }
 .text{
     width:500px;
     font-size:20px;
     float:right;
 }
.ourFocus{
    background-color:rgb(247,247,247);
    height:700px;
}
.zero{
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size:200px;
    opacity:0.1;
    text-align:center;
    z-index: 0;

}
 .p{
    font-weight:bolder;
    font-size:50px;
    text-align: center;
    z-index: 1;
     margin-top:-5%;
}
 .p1{
     padding-top:3%;
text-align: center;
    font-size:20px;
     padding-bottom: 5%;
}
.flex-parent{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    padding-left:18%;
    padding-right: 18%;
    padding-bottom:5%;
}
.flex-child{
    width:20%;
    padding-top:3%;
    background-color:white;
    text-align: center;

}
.flex-child1{
    font-weight: bold;
    font-size: 20px;
}
.flex-child2 {
font-weight: normal;
    font-size:16px;
}
.flex1{
    border-bottom:2px solid rgb(252,95,69);
}
.flex2{
    border-bottom:2px solid rgb(56,198,149);
}
.flex3{
    border-bottom:2px solid rgb(178,124,245);
}
.flex4{
    border-bottom:2px solid rgb(254,185,96);
}
video{

}
.portfolio{
    height:900px;
    padding-left:5%;
    padding-right: 5%;
    margin-bottom: 10%;
}
.portfolio h1{
    text-align:center;
    font-size:40px;
    z-index: 1;
    margin:0;
    margin-top:-5%;
}
.portfolio .opacityElem{
    text-align: center;
    z-index: 0;
    opacity: 0.1;
    font-size:300px;
    margin:0;
}
.portfolio p{
    text-align: center;
    font-size:20px;
    margin:0;
    margin-top:2%;
}
.portfolio .flex-parentPortfolio{
    padding-left:15%;
    padding-right:15%;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.portfolio .flex-childPortfolio {
    width: 20%;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.flexPortfolio1 {
    background-image:url("foto/SingleItem.png");
    background-size:contain;
    background-repeat: no-repeat;
    width:200px;
    height:200px;
}
.flexPortfolio2{
    background-image:url("foto/item 2.png");
    background-size:contain;
    background-repeat: no-repeat;
    width:200px;
    height:200px;
}
.flexPortfolio3{
    width:200px;
    height:200px;
    background-image:url("foto/item 3.png");
    background-size:contain;
    background-repeat: no-repeat;
}
.flexPortfolio4{
    width:200px;
    height:200px;
    background-image:url("foto/portfolio itema.png");
    background-size:contain;
    background-repeat: no-repeat;
}.flexPortfolio5{
     width:200px;
     height:200px;
     background-image:url("foto/portfolio itema2.png");
     background-size:contain;
     background-repeat: no-repeat;
 }.flexPortfolio6{
      width:200px;
      height:200px;
      background-image:url("foto/portfolio itema3.png");
      background-size:contain;
      background-repeat: no-repeat;
  }
.flexPortfolio7{
    width:200px;
    height:200px;
    background-image:url("foto/portfolio itema4.png");
    background-size:contain;
    background-repeat: no-repeat;
}.flexPortfolio8{
     width:200px;
     height:200px;
     background-image:url("foto/portfolio itema5.png");
     background-size:contain;
     background-repeat: no-repeat;
 }.flexPortfolio9{
      width:200px;
      height:200px;
      background-image:url("foto/portfolio itema6.png");
      background-size:contain;
      background-repeat: no-repeat;
  }
  .team{
      padding-left:5%;
      padding-right: 5%;
      padding-bottom: 5%;
      background-color:rgb(247,247,247);
  }
.team h1{
    text-align:center;
    font-size:40px;
    z-index: 1;
    margin:0;
    margin-top:-5%;
}
.team .opacityElem4{
    text-align: center;
    z-index: 0;
    opacity: 0.1;
    font-size:300px;
    margin:0;
}
.team p{
    text-align: center;
    font-size:20px;
    margin:0;
    margin-top:2%;
    margin-bottom:3%;
}
.flex-parent4{
    display:flex;
    justify-content: space-around;
}
.flex-child14 img{
    width:80%;
}
.text4 img{
    float:right;
    padding-left:5%;
    padding-right:5%;
}
.text4{
    background-color:white;
    padding:5%;
    margin:5% 7.5%;
}
.coffe{
    background-image:url("foto/coffeBackground.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom: 3%;
    padding-top:5%;
}
.flex-parentCoffe{
    display:flex;
    justify-content:space-around;
    padding-left:15%;
    padding-right:15%;
    -webkit-flex-flow: row wrap;
    color:white;
    text-align: center;
}
.flexCoffe{
    width:20%;
    margin-left:5%;
    margin-bottom:0;
}
.flexCoffe img{
    margin-bottom:10%;
}
.flexCoffe p{
    margin-bottom: 10%;
}
.flexCoffeRadio{
    margin-top:0;
    text-align:center;
}
.workSteps{
    padding-left:5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
}
.workSteps h1{
    text-align:center;
    font-size:40px;
    z-index: 1;
    margin:0;
    margin-top:-5%;
}
.workSteps .opacityElem5{
    text-align: center;
    z-index: 0;
    opacity: 0.1;
    font-size:300px;
    margin:0;
}
.opacityTextElem5{
    margin-bottom: 5%;
}
.workSteps p{
    text-align: center;
    font-size:20px;
    margin:0;
    margin-top:2%;
    margin-bottom:3%;
}
.flex-parent5{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    padding-left:25%;
    padding-right:15%;
    align-items: center;
}
.flexParent5{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    -webkit-flex-flow: row wrap;
    margin-top:-100%;
}
.flex556 img{
    width:80%;
    height:80%;
}
.flexText5{
    width:25%;
    padding:5% 5%;
    box-shadow:2px 1px 5px 0px black;
    background-color: white;
    margin-left:5%;
}
.flexText5 h1{
    font-size: 20px;
}
.text50{
    opacity:0;
}
.text51{
    margin-right:10%;
}
.flexTextParent5 h1{
    font-size:20px;
}
.flexText5 p{
    font-size:16px;
}
.flexText5 .opacityElem5{
    font-size:60px;
    opacity:0.1;
    float:left;
    margin-top:-15%;
}

.par1{
    float:right;
}
.pricingTable{
    padding-left:5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: rgb(247,247,247);
}
.pricingTable h1{
    text-align:center;
    font-size:40px;
    z-index: 1;
    margin:0;
    margin-top:-5%;
}
.pricingTable .opacityElem6{
    text-align: center;
    z-index: 0;
    opacity: 0.1;
    font-size:200px;
    margin:0;
}
.opacityTextElem6{
    margin-bottom: 5%;
}
.pricingTable p{
    text-align: center;
    font-size:20px;
    margin:0;
    margin-top:2%;
    margin-bottom:3%;
}
.flex-parent6{
    display:flex;
    justify-content:space-around;
    padding-left:20%;
    padding-right:20%;
    -webkit-flex-flow: nowrap;
}
.flex-child6{
    width:20%;
    padding-left:2%;
    padding-right:2%;
    background-color:white;
    text-align: center;
}
.block61{
    border-top:2px solid rgb(56 198 149);
}
.block62{
    border-top:2px solid rgb(252 95 69);
}
.block63{
    border-top:2px solid rgb(178 124 245);
}
.flex-child6 p{
    margin-top:10%;
    margin-bottom:10%;
}
.dollars6{
    background-color:rgb(56 198 149);
    border-radius:50%;
    padding:5%;
    color:white;
}
.perMonths{
    font-size:10px;
}
.gb6 {
    font-weight: bolder;
    font-size: 13px;
}
.storage{
    font-size:13px;
}
.material-icons{
    font-size: 16px;
}
.getStart{
    border:2px solid rgb(56 198 149);
    padding-top:5%;
    padding-bottom:5%;
    border-radius:15px;
}
.getStart a{
    font-size:16px;
    color: rgb(56 198 149);
    text-decoration:none;
}
.dollars195{
    background-color:rgb(252 95 69);
    border-radius:50%;
    padding:5%;
    color:white;
}
.dollars145{
    background-color:rgb(178 124 245);
    border-radius:50%;
    padding:5%;
    color:white;
}
.getStart145{
    border:2px solid rgb(178 124 245);
    padding-top:5%;
    padding-bottom:5%;
    border-radius:15px;
}
.getStart145 a{
    font-size:16px;
    color: rgb(178 124 245);
    text-decoration:none;
}
.getStart195{
    border:2px solid rgb(252 95 69);
    padding-top:5%;
    padding-bottom:5%;
    border-radius:15px;
}
.getStart195 a{
    font-size:16px;
    color: rgb(252 95 69);
    text-decoration:none;
}
.testimonials{
    padding-left:5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color:rgb(63,64,67);
}
.testimonials h1{
    text-align:center;
    font-size:40px;
    z-index: 1;
    margin:0;
    color:white;
    margin-bottom: 2%;
    margin-top:-5%;
}
.testimonials .opacityElem7{
    text-align: center;
    z-index: 0;
    opacity: 0.1;
    font-size:200px;
    margin:0;
    color:white;
}

.testimonials p{
    text-align: center;
    font-size:20px;
    margin:0;
    color:white;
    margin-top:2%;
    margin-bottom:3%;
}
.text7{
    width:40%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    border-bottom:2px solid rgb(252 95 69);
    margin-left:-1.2%;
    margin-top:3%;
    height:350px;
}
.text7 p{
    color:black;
    font-size:16px;
}
.textRed{
    text-align:left;
    color:rgb(252 95 69);
}
.author{
    font-weight: bold;
    text-align:left;
    margin-top:0%;
}
.melinaCavBot{
    float:right;
}
.flex-parent7{
    display:flex;
    flex-flow:wrap;
}
.navigationMelina{
    margin-left:63.5%;
}
.whySelectUs{
    padding-left:5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.whySelectUs h1{
    text-align:center;
    font-size:40px;
    z-index: 1;
    margin:0;
    margin-top:-5%;
}
.whySelectUs .opacityElem8{
    text-align: center;
    z-index: 0;
    opacity: 0.1;
    font-size:200px;
    margin:0;
}
.opacityTextElem58{
    margin-bottom: 5%;
}
.whySelectUs p{
    text-align: center;
    font-size:20px;
    margin:0;
    margin-top:2%;
    margin-bottom:3%;
}
.flex-parent88{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-flow:row wrap;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-flex-flow: row wrap;
}
.flexchild88 p{
    font-size: 16px;
    text-align: left;
}
.flexSelect1{
    width:25%;
    margin-right:5%;
    margin-bottom: 5%;
}
.flexSelect2{
    width:25%;
    margin-right:5%;
    margin-bottom: 5%;
}
.flexSelect3{
    width:25%;
    margin-right:5%;
    margin-bottom: 5%;
}
.flexSelect4{
    width:25%;
    margin-right:5%;
    margin-bottom: 5%;
}
.flexSelect5{
    width:25%;
    margin-right:5%;
    margin-bottom: 5%;
}
.flexSelect6{
    width:25%;
    margin-bottom:5%;
    margin-right: 5%;
}
.journy{
    font-size: 20px;
}
.getStart8{
    margin-left: 2%;
    background-color:rgb(252 95 69);
    border-radius:20px;
    padding:10px 20px;
    text-decoration:none;
    color:white;
    font-size:20px;
}
.blog{
     padding-left:5%;
     padding-right: 5%;
     padding-bottom: 10%;
    background-color: rgb(247, 247, 247);
    margin-bottom: 5%;
 }
.blog h1{
    text-align:center;
    font-size:40px;
    z-index: 1;
    margin:0;
    margin-top:-5%;
}
.blog .opacityTextElem9 .opacityElem9{
    text-align: center;
    z-index: 0;
    opacity: 0.1;
    font-size:200px;
    margin:0;
}
.opacityTextElem9{
    margin-bottom: 5%;
}
.blog p{
    text-align: center;
    font-size:20px;
    margin:0;
    margin-top:2%;
    margin-bottom:3%;
}
.flexParent9{
    display:flex;
    flex-direction: column;
    margin-top:-47.5%;
    margin-left:50%;
}
.flexChild9{
    width:40%;
    background-color:white;
    padding:2% 2%;
    padding-bottom:0;
    margin-bottom: 2%;
    height:200px;

}
.flexChild9 p{
    font-size: 16px;
}
.block91{
    border-bottom:2px solid rgb(52, 182, 137);
}
.block92{
    border-bottom:2px solid rgb(178, 124, 245);
}
.block93{
    border-bottom:2px solid rgb(254,185,96);
}
.foto91{
    margin:0;
    padding:0;
    width:100%;
}
.nonFlex91 {
    padding-bottom:2%;
    border-bottom:2px solid rgb(252, 95 ,69);
    width:40%;
    margin-left:8%;
    background-color:white;
}
.subscribe{
    padding:5% 5%;
    padding-bottom:10%;
}
.subscribe p{
    text-align:center;
    font-size:40px;
}
.inputEmail{
    text-align: center;
    margin-top:3%;
}
.inputEmail input{
    border-radius:15px;
    background-color:rgb(252,95,69);
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    color:white;
    width:15%;
}
#user{
    border-radius:15px;
    background-color:rgb(247,247,247);
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    color:black;
}
.getInTouch{
    text-align: center;
    padding-bottom: 5%;
    background-color: rgb(204, 204, 204);
}
.getInTouch h1{
    text-align:center;
    font-size:40px;
    z-index: 1;
    margin:0;
    margin-top:-5%;
}
.getInTouch .opacityTextElem10 .opacityElem10{
    text-align: center;
    z-index: 0;
    opacity: 0.1;
    font-size:200px;
    margin:0;
}
.opacityTextElem10{
    margin-bottom: 5%;
}
.getInTouch p{
    text-align: center;
    font-size:20px;
    margin:0;
    margin-top:2%;
    margin-bottom:3%;
}
.flexParent10{
    display:flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
}
.flexChild10 input{
    text-align: center;
    width:30%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-left:5%;
    margin-bottom:5%;
}
#message{
    width:67%;
    margin-left:10%;
    margin-right: 5%;
    height:200px;
    text-align: center;
}
#sendMessage{
    background-color:rgb(252,95,69);
    color:white;
    width:15%;
    border-radius:15px;
    margin-left:5%;
}
.footer{
    width:100%;
}